{% extends 'layout.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block pagetitle %}Chat{% endblock %}

    {% block extrahead %}
        {% include 'text-input-field/text-input-styles.html' %}
    {% endblock %}

    {% block customstyles %}
        textarea {
            max-height: 0px;
            padding: 0px;
            transition: all .2s ease;
        }

        .message-send-form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 4vh;
            align-items: center
        }

        .messages-section {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-evenly;
            height: 100%;
            overflow-y: hidden;
            padding: 0px;
            gap: 1em;

            font-weight: 100;
        }

        button {
            font-size: 4vh;
            width: 25%;
        }

        .messages-section-border {
            position: relative;
            height: 3vh;
            width: 100%;
            background: var(--base-dark-color);
            z-index: 10;
        }

        .message-text {
            cursor: pointer;
            font-size: 4vh;
            font-weight: 100;
            font-family: 'sf pro display';
            color: gray;
            min-height: 5vh;
            overflow-wrap: anywhere;
            max-width: 50%;
            transition: all .2s ease;
        }

        .message-text:hover {
            color: var(--base-light-color);
        }

        .messages-list {
            max-height: 45vh;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-block: 5vh;
            align-items: flex-start;
        }

        .main-header {
            height: auto;
        }

        .field-arrow-static {
            filter: invert(1) brightness(.5)!important;
            max-width: 1ch!important;
        }

        .message-text:hover .field-arrow-static {
            filter: invert(1) brightness(1)!important;
            color: var(--base-light-color);
            max-width: 0ch!important;
        }

        .message-input {
            width: 100%;
            background: transparent;
            color: var(--base-light-color);
            font-size: 4vh;
            max-width: 40vw;
            outline: 0px!important;
            text-align: center;
            min-height: 1.5em;

            border-bottom: 1px solid;

            transition: all .1s ease;
        }

        .submit-btn {
            width: 2ch;
            height: 2ch;
            aspect-ratio: 1/1;
            background: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .submit-btn:hover {
            transform: scale(1.5);
        }

        .message-input::before {
            content: "hello";
            margin-right: 0.5em;
            background: white;
        }

        .message-input-area {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-inline: 1ch;
        }

        .message-input-area span {
            font-size: 3vh;
        }

        .not-highlighted {
            color: rgb(210, 210, 210);
        }

        .highlited-count-letters {
            color: white;
        }

        .field-arrow-X {

        }

        .message-text:hover .field-arrow-X {
            filter: invert(1) brightness(.5)!important;
            max-width: 1ch!important;
        }


        .field-arrow-X {
            filter: invert(1) brightness(1)!important;
            color: var(--base-light-color);
            max-width: 0ch!important;
        }
    {% endblock %}
</head>
<body>
    {% block header-text %}
        WELCOME, <span class="dark-main-text">{{ user.username|upper }}</span>
    {% endblock %}
    {% block maincontent %}
    <div id="messages-section"
         class="payload-element messages-section">
        <form class="payload-element message-send-form"
              onsubmit="return sendMessage(event, {{user.id}}, '{{user.username}}');">
            <div class="message-input-area">
                <textarea class="message-input" id="message-input" onchange="onInputLetter(event)" oninput="onInputLetter(event)"></textarea>
                <span><span class="highlited-count-letters" id="count-letters">0</span> / <span class="not-highlighted">70</span></span>
            </div>
            <button class="submit-btn" id="submit-btn">
                <img style="height: 70%;cursor: pointer;" src="https://cdn-icons-png.flaticon.com/512/271/271226.png">
            </button>
        </form>
        <div id="messages" class="messages-list">
        {% for message in messages %}
            {% include 'chat/sended-message.html' %}
        {% endfor %}
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    {% include 'text-input-field/text-input-field-script.html' with MAXINPUTLENGTH=20 %}
    <script src="{% static 'js/socket.js' %}"></script>
    <script>
        addEventListener("keypress", function(e) {
            if(e.which == 13) {
                sendMessage(false)
            }
        })
    </script>
    <script>
        function onInputLetter(event) {
            inputed = document.getElementById('message-input').value;

            document.getElementById("submit-btn").style = inputed.length > 70 ? "transform: scale(0);" : "";

            document.getElementById("count-letters").style.color = inputed.length > 70 ? "red" : "white";
            document.getElementById("count-letters").innerHTML = inputed.length;
        }
    </script>
    <script>
        function expandMessageInput(textarea) {
            textarea.style.transform = "scaleX(0)";

            textarea.animate([
                {transform: "scaleX(1)"}
            ], {
                duration: 500,
                fill: "forwards",
                easing: "ease-out"
            })
        }

        expandMessageInput(document.getElementById("message-input"))
    </script>
    {% endblock %}
</body>
</html>
