@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55?styles=30123');

:root {
    --base-indent: 2em;
    --base-border-radius: 1.5em;
    --base-dark-color: black;
    --base-light-color: white;
    --base-darkened-color: rgb(255, 255, 255, .2);
    --base-lite-darkened-color: rgb(255, 255, 255, .5);
}

::-webkit-scrollbar {
    width: 0;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

*::selection {
  background: var(--base-light-color);
  color: var(--base-dark-color);
}

*::-moz-selection {
  background: var(--base-light-color);
  color: var(--base-dark-color);
}

*::-webkit-selection {
  background: var(--base-light-color);
  color: var(--base-dark-color);
}

body {
    background-color: var(--base-dark-color);
    color: var(--base-light-color);
    font-family: "SF Pro Display";
    display: flex;
    flex-direction: column;
    gap: var(--base-indent);
    margin-inline: var(--base-indent);
    margin-top: var(--base-indent);
    margin-bottom: 0;
    height: 100vh;
    overflow: hidden;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 3vh;
}

input {
    background-color: transparent;
    color: var(--base-light-color);
    text-align: center;
    border-inline-width: 0px;
    border-top-width: 0px;
    border-block-end-width: 0px;
    border-radius: .1em;
    border-color: var(--base-light-color);
    padding: .2em;
    font-size: 3vh;
}

button {
    font-size: 3vh;
    background-color: transparent;
    color: var(--base-light-color);
    border: 0px;
    border-radius: .5em;
    cursor: pointer;
    transition: all .2s ease;
}

button:hover {
    background-color: var(--base-light-color);
    color: var(--base-dark-color);
}

.main-header {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    letter-spacing: .005em;
    font-size: 5em;
}

.dark-main-text {
    color: var(--base-darkened-color);
}
